<%- include('./_partials/navbar', { currentNav: '' }) %>

<main>
  <section class="text-center">
    <h3>404 Not Found</h3>
    <a href="/">回首页</a>
  </section>
</main>

<%- include('./_partials/footer') %>
