<%- include('../_partials/navbar', { currentNav: 'tags' }) %>

<main>
  <section>
    <div class="type-cloud">
      <% tags.forEach(tag => { %>
        <a class="button button-outline button-no-transform button-large" href="/tags/<%= tag.id %>"><%= tag.name %></a>
      <% }) %>
    </div>
  </section>
</main>

<%- include('../_partials/footer') %>
