body {
  font-weight: normal;
}

/* button */
.button {
  margin-bottom: 0;
}

.button.button-no-transform {
  text-transform: none;
}

.button-small {
  font-size: 0.8rem;
}

.button-large {
  font-size: 1.4rem;
}

/* row */
.row.row-lock-direction {
  flex-direction: row;
  margin-left: 0;
  width: 100%;
}

.row.row-between {
  justify-content: space-between;
}
