/* button */
.button {
  margin-bottom: 0;
}

.button.button-no-transform {
  text-transform: none;
}

.button-small {
  font-size: 0.8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}

.button-large {
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
}

/* row */
.row.row-lock-direction {
  flex-direction: row;
  margin-left: 0;
  width: 100%;
}

.row.row-between {
  justify-content: space-between;
}
