header {
  max-width: 720px;
  margin: 0 auto 2rem;
  border-radius: 0 0 16px 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
  max-width: 720px;
  margin: 2rem auto;
}

section {
  margin: 2.4rem;
  padding: 1.6rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.type-label {
  font-size: 1.4rem;
  margin-left: 4rem;
}
