<%- include('../_partials/navbar') %>

<main>
  <section>
    <% categories.forEach(category => { %>
    <a href="/categories/<%= category.id %>"><%= category.title %></a>
    <% }) %>
  </section>
</main>
