<%- include('../_partials/navbar', { currentNav: 'categories' }) %>

<main>
  <section>
    <div class="type-cloud">
      <% categories.forEach(category => { %>
        <a class="button button-outline button-large button-no-transform" href="/categories/<%= category.id %>"><%= category.title %></a>
      <% }) %>
    </div>
  </section>
</main>

<%- include('../_partials/footer') %>
