<div class="footer text-center">
  <p>
    Copyright © <%= site.copyright %> By
    <a href="/about"><%= site.author %></a>
  </p>
  <% if (site.ipc) { %>
    <p><a href="http://beian.miit.gov.cn/"><%= site.ipc %></a></p>
  <% } %>
</div>
