<header>
  <div class="row row-center row-lock-direction row-between">
    <div class="cloumn">
      <a class="button button-clear button-large button-no-transform" href="/">
        FluxPress
      </a>
    </div>
    <div class="cloumn">
      <a class="button button-clear" href="/">首页</a>
      <a class="button button-clear" href="/archives">归档</a>
      <a class="button button-clear" href="/categories">分类</a>
      <a class="button button-clear" href="/tags">标签</a>
      <a class="button button-clear" href="/about">关于</a>
    </div>
  </div>
</header>
